<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context/ 
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <beans>
    <bean id="Customer" class="Customer">
      <property name="customerId" value="101"></property>
    <property name="customerName" value="Mounika"></property>
        <property name="customerContact" value="9999955555"></property>
        <property name="customerAddress" ref="Address"></property>
    
    </bean>
    
    
    
    <bean id="Address" class="Address">
      <property name="street" value="Hyderabad"></property>
    <property name="city" value="Hyderabad"></property>
        <property name="zip" value="123456"></property>
        <property name="country" value="India"></property>
    
    </bean>
    
    
    
    </beans>
    
    </beans>