<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context/ 
    http://www.springframework.org/schema/context/spring-context.xsd">
    
   
    <beans>
    <bean id="Questions" class="Questions">
    <property name="qId" value="12"></property>
    <property name="question" value="What is your favourite food?"></property>
	<property name="answers">
	<map>
	<entry key="1" value="Panipuri"></entry>
	<entry key="2" value="Noodles"></entry>
	<entry key="3" value="Fried Rice"></entry>
	</map>
	</property>    
    </bean>
    </beans>
    </beans>